* {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

#map-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
}

#legend-container {

    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1;
    /* Ensure legend appears above the map */

}

legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend-color {
    width: 20px;
    height: 10px;
    margin-right: 5px;
}

#title-container {

    position: absolute;
    top: 20px;
    left: 20px;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1;
    /* Ensure title card appears above the map */

}

title-item {
    display: flex;
    align-items: left;
    margin-bottom: 5px;
}

.title-color {
    width: 20px;
    height: 10px;
    margin-left: 5px;
}