* {
    font-family: sans-serif;
}

#legend-container {

    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1;
    /* Ensure legend appears above the map */

}

legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend-color {
    width: 20px;
    height: 10px;
    margin-right: 5px;
}

.single-station {
    background-image: url('../mapbox-markers/single-station.png'); /*NOTE: not sure if i need this here, in HTML, or both*/
    background-size: cover;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.transfer-station {
    background-image: url('../mapbox-markers/transfer-station.png'); /*NOTE: not sure if i need this here, in HTML, or both*/
    background-size: cover;
    width: 15.4px;
    height: 15.4px;
    border-radius: 50%;
    cursor: pointer;
}